/*Общие стили/обнуление отступов итп*/

*, *::after, *::before {
    font-family: 'TT Lakes';
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    background-color: #F8F8F8;
}

body {
    min-width: 320px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}


/*Header*/

.header-container {
    min-height: 88px;
    border-bottom: 1px solid #D9FFF5;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}

.header-container--position {
    padding: 0 16px 0 14px;
}

@media (min-width: 768px) {
    .header-container--position {
        padding: 0 16px 0 14px;
    }
}

@media (min-width: 1120px) {
    .header {
        display: none;
    }
}


/*Центрирование блоков внутри блоков меню в header*/

.menu-1, .menu-2, .logo__link {
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    .menu-3 {
        display: flex;
        align-items: center;
    }

    .menu-3--position {
        margin-right: 42px;
    }
}





/* Кнопки в меню header */

.header-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
}

.header-btn:hover {
    background-color: #5b0284;
}

.menu-1__btn-menu {
    background-image: url('pictures/burger_menu.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px 16px;
    margin-right: 17px;
}

@media (min-width: 768px) {
    .menu-1__btn-menu {
        margin-right: 42px;
    }
}

.menu-2__btn-repair {
    background-image: url('pictures/repair.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.menu-2__btn-checkstatus {
    background-image: url('pictures/check_status.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px 20px;
    margin-left: 16px;
}

.menu-3__btn-call {
    background-image: url('pictures/call.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px 18px;
}

@media (min-width: 768px) {
    .menu-3__btn-call {
        margin-right: 16px;
    }
}

.menu-3__btn-chat {
    background-image: url('pictures/chat.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

@media (min-width: 768px) {
    .menu-3__btn-chat {
        margin-right: 16px;
    }
}

.menu-3__btn-profile {
    background-image: url('pictures/profile.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 18px;
}


/*Лого*/

.logo--position {
    margin-right: auto;
}

.logo__link-img {
    width: 97px;
    height: 51px;
}

.header-container--position::before {
    content: '';
    display: inline-block;
    position: relative;
    left: 172px;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
}

@media (min-width: 768px) {
    .header-container--position::before {
        content: '';
        display: inline-block;
        position: relative;
        left: 62px;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        border-radius: 1px;
    }
}

@media (min-width: 768px) {
    .header-container--position::after {
        content: '';
        display: inline-block;
        position: relative;
        right: 118px;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        border-radius: 1px;
    }
}


/*Main*/

.main-container {
    background-color: #F8F8F8;
}

.main-container--position {
    padding-top: 24px;
}

@media (min-width: 1120px) {
    .main-container--position {
        padding-top: 42px;
    }
}


/*Заголовок в Main*/

.main-container__title {
    font-size: 28px;
    line-height: 40px;
    font-weight: bold;
}

.main-container__title--position {
    padding-left: 16px;
}

@media (min-width: 768px) {
    .main-container__title--position {
        padding-left: 24px;
    }
}

@media (min-width: 1120px) {
    .main-container__title--position {
        padding-left: 32px;
    }
}

.main-container__title::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}


/*Центрирование блоков из header внутри main для 1120px*/

@media (min-width: 1120px) {
    .main-header-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .menu-2--main-position {
        display: flex;
        margin-right: 32px;
    }

    .label-menu-2 {
        display: flex;
        align-items: center;
    }

    .label-menu-2:first-child {
        margin-right: 32px;
    }

    .header-btn__text {
        margin-right: 8px;
        font-size: 16px;
        font-weight: 500;
    }

    .menu-2__btn-repair {
        display: flex;
    }

    .menu-2__btn-checkstatus {
        display: flex;
        margin-left: 0;
    }
}


/*Слайдер*/

.slide-menu {
    display: flex;
    overflow-x: auto;
}

.slide-menu--position {
    margin-top: 24px;
    margin-left: 16px;
}

.slide-menu__item {
    display: flex;
    border-radius: 6px;
    list-style: none;
    white-space: nowrap;
}

.slide-menu__link {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82;
    padding: 6px 9px 6px 16.5px;
    border-radius: 6px;
    overflow: hidden;
}

.slide-menu__item--active {
    border: 2px solid #41F6D7;
    background-color: #FFF;
}

@media (min-width: 768px) {
    .slide-menu--position {
        margin-left: 24px;
    }
}

@media (min-width: 1120px) {
    .slide-menu--position {
        font-size: 16px;
        margin-left: 32px;
        margin-right: 25px;
        flex-wrap: wrap;
    }
    
    .slide-menu__link {
        padding: 8px 21px 7px 23px;
    }
}


/*Section (main-section)*/

.main-section {
    margin: 16px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.main-section__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-section__section-text {
    padding-bottom: 16px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
}

.main-section__img {
    max-width: 400px;
    height: auto;
}

@media (min-width: 768px) {
    .main-section__wrapper {
        display: flex;
        flex-wrap: nowrap;
    }

    .main-section__img {
        border-radius: 6px;
        max-width: 360px;
        height: 208px;
        margin-right: 25px;
    }

    .main-section__wrapper-text {
        margin-right: 48px;
    }

    .main-section__p-text {
        height: 160px;
        overflow-y: hidden;
    }

    .main-section__more-btn {
        margin-top: 10px;
    }

    .main-section__section-text {
        font-size: 14px;
        line-height: 20px;
    }

    .main-section__section-text:nth-child(2) {
        display: block;
    }
}

@media (min-width: 1120px) {
    .main-section__p-text {
        margin-top: 16px;
    }

    .main-section__img {
        max-width: 535px;
        height: 307px;
    }

    .main-section__wrapper-text {
        margin-left: 34px;
    }
}


/*Кнопка read-more*/

.main-section__more-btn {
    display: flex;
    width: 132px;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
    margin-left: 16px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;

}

.main-section__btn-img {
    width: 8px;
    height: 10px;
    background-color: inherit;
}