.brand-menu {
    background-color: #F8F8F8;
}

.brand-menu__wrapper {
    display: flex;
    flex-direction: column;
}

/* Стилизация заголовка swiper-header */

.brand-menu__header {
    border-top: 1px solid #D9FFF5;
    background-color: #FFF;
}

.brand-menu__title {
    width: 95%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    margin-top: 15px;
    margin-bottom: 15px;
}


/* Стилизация изображений брендов */

.swiper-slide__img-lenovo {
    width: 108px;
    height: 32px;
}

.swiper-slide__img-samsung {
    width: 116px;
    height: 39px;
}

.swiper-slide__img-apple {
    width: 42px;
}

.swiper-slide__img-bosch {
    width: 128px;
    height: 29px;
}

.swiper-slide__img-hp {
    width: 52px;
}

.swiper-slide__img-acer {
    width: 94px;
}

.swiper-slide__img-sony {
    width: 128px;
}

.swiper-slide__img-viewsonic {
    width: 128px;
}

/* swiper 320px */

.brand-menu__swiper {
    min-height: 115px;
    width: 95%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.brand-menu__swiper-slide {
    height: 70px;
}

.swiper-slide__container {
    height: 100%;
    background-color: #FFF;
    display: flex;
}

.swiper-slide__brand-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 16px;
    border-radius: 6px;
    box-shadow: inset 0 0 0 1px #EAEAEA;
    transition: 0.2s ease-in-out;
}

.swiper-slide__brand-btn:hover {
    background-color: #d0d0d0;
}

.swiper-slide__arrow {
    width: 40px;
    height: 40px;
}

.swiper-pagination-bullet {
    background-color: #DDDDDD;
    width: 12px;
    height: 12px;
}

/* swiper 768px */

@media (min-width: 768px) {

    .brand-menu__swiper {
        max-height: 160px;
        animation: brand-menu__swiper--close 0.3s;
    }

    @keyframes brand-menu__swiper--close {

        0% {
            max-height: 328px;
        }

        100% {
            max-height: 160px;
        }

    }

    @keyframes brand-menu__swiper--open {

        0% {
            max-height: 160px;
        }

        100% {
            max-height: 328px;
        }

    }

    .brand-menu__swiper--open {
        max-height: none;
        animation: brand-menu__swiper--open 0.3s;
    }

    .swiper-wrapper {
        display: flex;
        flex-wrap: wrap;
        column-gap: 2.75%;
        row-gap: 16px;
    }

    .brand-menu__swiper-slide {
        display: flex;
        min-width: 225px;
        width: 31.5%;
    }

    .swiper-slide__container {
        width: 100%;
    }

    .brand-menu__btn-wrapper {
        width: 95%;
        margin: 0 auto;
        margin-bottom: 35px;
    }

    .brand-menu__show-all {
        display: flex;
        align-items: center;
        transition: 0.2s ease-in-out;
    }

    .brand-menu__show-all:hover {
        transform: scale(1.1);
    }
    
    .brand-menu__show-img {
        display: block;
        width: 8px;
        height: 10px;
        margin-right: 10px;
    }

    .brand-menu__show-img--rotate {
        transform-origin: center;
        transform: rotate(180deg);
    }

    .brand-menu__show-text {
        display: block;
        font-size: 16px;
        font-weight: 500;
    }

}

@media (min-width: 1120px) {

    .swiper-wrapper {
        column-gap: 2%;
        row-gap: 16px;
    }

    .brand-menu__swiper-slide {
        min-width: 250px;
        width: 23.5%;
    }

}
