.brand-menu {
    background-color: #F8F8F8;
}

.brand-menu__wrapper {
    display: flex;
    flex-direction: column;
}

/* Стилизация заголовка swiper-header */

.brand-menu__header {
    border-top: 1px solid #D9FFF5;
    background-color: #FFF;
}

.brand-menu__title {
    width: 95%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    margin-top: 15px;
    margin-bottom: 15px;
}


/* Стилизация изображений брендов */

.swiper-slide__img-lenovo {
    width: 108px;
    height: 32px;
}

.swiper-slide__img-samsung {
    width: 116px;
    height: 39px;
}

.swiper-slide__img-apple {
    width: 42px;
}

.swiper-slide__img-bosch {
    width: 128px;
    height: 29px;
}

.swiper-slide__img-hp {
    width: 52px;
}

.swiper-slide__img-acer {
    width: 94px;
}

.swiper-slide__img-sony {
    width: 128px;
}

.swiper-slide__img-viewsonic {
    width: 128px;
}

/* Стилизация кнопки со стрелкой btn-arrow*/

.swiper-slide__btn-arrow {
    background-color: #FFF;
    box-shadow: inset 0 0 0 2px #FF3E79;
    background-image: url(/swiper/assets/icons/arrow.svg);
    background-size: 10px 12px;
    background-repeat: no-repeat;
    background-position: center;
}

/* swiper 320px */

.brand-menu__swiper {
    min-height: 115px;
    width: 95%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.brand-menu__swiper-slide {
    height: 70px;
}

.swiper-slide__container {
    height: 100%;
    border-radius: 6px;
    box-shadow: inset 0 0 0 1px #EAEAEA;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.swiper-pagination-bullet {
    background-color: #DDDDDD;
    width: 12px;
    height: 12px;
}

/* swiper 768px */

@media (min-width: 768px) {

    .brand-menu__swiper {
        max-height: 160px;
        animation-name: brand-menu__swiper--close;
        animation-duration: 0.3s;
    }

    @keyframes brand-menu__swiper--close {

        0% {
            max-height: 328px;
        }

        100% {
            max-height: 160px;
        }

    }

    @keyframes brand-menu__swiper--open {

        0% {
            max-height: 160px;
        }

        100% {
            max-height: 328px;
        }

    }

    .brand-menu__swiper--open {
        max-height: none;
        animation-name: brand-menu__swiper--open;
        animation-duration: 0.3s;
    }

    .swiper-wrapper {
        display: flex;
        flex-wrap: wrap;
        column-gap: 3.5%;
        row-gap: 16px;
    }

    .brand-menu__swiper-slide {
        display: flex;
        min-width: 225px;
        width: 31%;
    }

    .swiper-slide__container {
        width: 100%;
    }

    .brand-menu__btn-wrapper {
        width: 95%;
        margin: 0 auto;
        margin-bottom: 35px;
    }

    .brand-menu__show-all, .brand-menu__hide {
        display: flex;
        align-items: center;
        align-self: flex-start;
    }
    
    .brand-menu__show-all-img {
        display: block;
    }

    .brand-menu__show-all-text {
        display: block;
    }

}

@media (min-width: 1120px) {

    .swiper-wrapper {
        column-gap: 3%;
        row-gap: 16px;
    }

    .brand-menu__swiper-slide {
        min-width: 240px;
        width: 22.75%;
    }

}

.brand-menu__show-all-img, .brand-menu__hide-img {
    width: 8px;
    height: 10px;
    margin-right: 10px;
}

.brand-menu__show-all-text, .brand-menu__hide-text {
    font-size: 16px;
    font-weight: 500;
}

.brand-menu__show-all--hidden {

    display: none;
}

.brand-menu__hide--hidden {
    display: none;
}
