/* Mobile */

.prices-menu {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__title {
    width: 100vw;
    border-top: 1px solid $border-color;
    background-color: $white;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $menu-text-color;
    margin-left: -5.4%;
    padding: 15px 5.4%;
  }

  &__swiper {
    min-height: 245px;
    width: 100%;
    margin-top: 25px;
  }

  &__swiper-slide {
    box-sizing: border-box;
    height: 200px;
    border-radius: 6px;
    padding: 16px;
    background-color: $white;
  }

  &__slide-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__type-service {
    font-size: 14px;

    &::before {
      content: 'Ремонтные услуги';
      display: block;
      position: relative;
      top: -5px;
      color: $menu-text-color;
    }
  }

  &__price {
    font-size: 14px;

    &::before {
      content: 'Цена';
      display: block;
      position: relative;
      top: -5px;
      color: $menu-text-color;
    }
  }

  &__timing {
    font-size: 14px;

    &::before {
      content: 'Срок';
      display: block;
      position: relative;
      top: -5px;
      color: $menu-text-color;
    }
  }

  &__btn-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__order-btn {
    width: 120px;
    height: 32px;
    transition: 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__offer {
    margin-bottom: 45px;
  }

  &__text {
    font-size: 14px;
    max-width: 420px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  &__btn-offer {
    display: flex;
    align-items: center;
    transition: 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__btn-text {
    font-family: $lakes-medium;
    text-align: start;
    line-height: 24px;
    margin-right: 30px;
  }

  &__btn-arrow {
    width: 6px;
    height: 12px;
    vertical-align: middle;
  }
}


/* Tablet */

@include tablet {
  .prices-menu {
    &__swiper {
      display: none;
    }

    &__table {
      display: table;
      border-collapse: collapse;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    & tbody {
      background-color: white;
      border: none;
    }

    &__table-header-cell {
      color: $menu-text-color;
      font-family: $lakes-regular;
      font-weight: normal;
      font-size: 14px;
      padding: 20px 10px;
      text-align: left;
      vertical-align: middle;
    }

    &__table-header-cell:first-child {
      padding-left: 20px;
      padding-right: 0;
    }

    &__table-row {
      position: relative;

      &:nth-child(-n+4)::after {
        content: '';
        display: block;
        position: absolute;
        width: 96%;
        height: 1px;
        background-color: #EAEAEA;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
      }
    }

    &__table-cell {
      font-size: 14px;
      padding: 20px 10px;
      text-align: left;
      vertical-align: middle;
      font-family: $lakes-regular;
    }

    &__table-cell:first-child {
      padding-left: 20px;
      padding-right: 0;
    }

    &__table-cell:last-child {
      display: flex;
      justify-content: flex-end;
    }

  }
}


/* Desktop */

@include desktop {
  .prices-menu {
    &__title {
      width: 105%;
      margin-left: -2.5%;
      padding: 15px 2.5%;
    }
  }
}