$white: #fff;
$soft-gray: #d0d0d0;
$gray: #cacaca;
$black: #000;


$background: #F8F8F8;
$footer-background: #F8F8F8;
$main-text-color: #1B1C21;
$menu-text-color: #7E7E82;
$border-color: #D9FFF5;
$border-input-color: #EAEAEA;


/* Цвет кнопок */
$btn-color: #FF3E79;


/* Шрифты */
$lakes-regular: 'TT Lakes Regular';
$lakes-medium: 'TT Lakes Medium';
$lakes-bold: 'TT Lakes Bold';